
## <summary>policy for bitcoinbridge</summary>


########################################
## <summary>
##	Transition to bitcoinbridge.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcoinbridge_domtrans',`
	gen_require(`
		type bitcoinbridge_t, bitcoinbridge_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcoinbridge_exec_t, bitcoinbridge_t)
')


########################################
## <summary>
##	Execute bitcoinbridge server in the bitcoinbridge domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbridge_initrc_domtrans',`
	gen_require(`
		type bitcoinbridge_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcoinbridge_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoinbridge lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbridge_search_lib',`
	gen_require(`
		type bitcoinbridge_var_lib_t;
	')

	allow $1 bitcoinbridge_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoinbridge lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbridge_read_lib_files',`
	gen_require(`
		type bitcoinbridge_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcoinbridge_var_lib_t, bitcoinbridge_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinbridge lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbridge_manage_lib_files',`
	gen_require(`
		type bitcoinbridge_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcoinbridge_var_lib_t, bitcoinbridge_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinbridge lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinbridge_manage_lib_dirs',`
	gen_require(`
		type bitcoinbridge_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcoinbridge_var_lib_t, bitcoinbridge_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitcoinbridge environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcoinbridge_admin',`
	gen_require(`
		type bitcoinbridge_t;
		type bitcoinbridge_initrc_exec_t;
		type bitcoinbridge_var_lib_t;
	')

	allow $1 bitcoinbridge_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcoinbridge_t)

	bitcoinbridge_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcoinbridge_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcoinbridge_var_lib_t)

')

